body{
    background:#f4f6f9;
}

.container{
    max-width:1000px;
}

.card{
    border:none;
    border-radius:12px;
    box-shadow:0 2px 12px rgba(0,0,0,0.1);
}

.table td,
.table th{
    text-align:center;
    vertical-align:middle;
}

#barcodeInput{
    height:50px;
    font-size:20px;
}

.btn{
    font-weight:bold;
}

.text-success{
    font-size:28px;
}