<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Self Checkout System</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

<div class="container mt-5">

    <h2 class="text-center mb-4">
        🛒 Self Checkout System
    </h2>

    <div class="card shadow p-4 mb-4">

        <h5>Scan Barcode</h5>

        <div class="input-group">

            <input
                    type="text"
                    id="barcodeInput"
                    class="form-control"
                    placeholder="Enter Barcode">

            <button
                    class="btn btn-primary"
                    onclick="scanBarcode()">

                Scan Product

            </button>

        </div>

    </div>

    <div class="card shadow p-4">

        <h4 class="mb-3">
            Shopping Cart
        </h4>

        <table class="table table-bordered table-hover">

            <thead class="table-dark">

            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>

            </thead>

            <tbody id="cartBody">

            </tbody>

        </table>

        <hr>

        <div class="text-end">

            <h5>
                Subtotal :
                ₹ <span id="subtotal">0.00</span>
            </h5>

            <h5>
                Tax (18%) :
                ₹ <span id="tax">0.00</span>
            </h5>

            <h4 class="text-success">
                Grand Total :
                ₹ <span id="total">0.00</span>
            </h4>

        </div>

        <hr>

        <div class="mb-3">

            <label class="form-label fw-bold">
                Payment Method
            </label>

            <select id="paymentMethod" class="form-select">

                <option value="Cash">Cash</option>
                <option value="Card">Card</option>
                <option value="UPI">UPI</option>

            </select>

        </div>

        <div class="d-grid mt-4">

            <button
                    class="btn btn-success btn-lg"
                    onclick="checkout()">

                Proceed to Checkout

            </button>

        </div>

    </div>

</div>

<script th:src="@{/js/checkout.js}"></script>

</body>

</html>